.main{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 600px;
    width: 100%;
}

.searchAndFilter{
    display: flex;
    gap: 10px;
    flex-direction: row;

}