
.main{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pageHeader{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.charts{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
}

.label{
    margin: 15px 15px 0px 15px;
}

.number{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

