.lineChartContainer {
  width: 400px;
  padding: 20px;
  height: 230px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
}

.lineChartContainer .chartWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.lineChartContainer .lineChartLabel {
  display: flex;
  justify-content: center;
}