.modalContainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionButtons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

@media (max-width: 640px) {
  .actionButtons {
    flex-direction: column;
  }
  
  .actionButtons button {
    width: 100%;
  }
}