.modalContainer {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

}


.dropArea {
    border: 2px dashed #3F7857;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dropArea:hover {
    background-color: #f0f8f0;
}

.dropArea.highlight {
    background-color: #f0f8f0;
    border-color: #7EC384;
}

.dropArea.hasFile {
    border-color: #7EC384;
    background-color: #f8fff8;
}


.icon{
    font-size: 1000px;
    color: green;
}

.fileInput {
    display: none;
}

.browseBtn {
    background-color: #3F7857;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.browseBtn:hover {
    background-color: #315f44;
}

.fileInfo {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    border-left: 4px solid #3F7857;
}

.submitBtn {
    background-color: #3F7857;
    color: white;
    border: none;
    width: 100px;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.loading, .error, .noStudents {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.error {
  color: #d32f2f;
  background-color: #ffebee;
  border: 1px solid #f44336;
  border-radius: 4px;
}