.body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tagLineContainer {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 50px rgb(0, 0, 0);
  position: relative;
  flex: 2;
}

.tagLine h1 {
  margin: 0; 
  font-size: 100px; 
}

.tagLine h6 {
  margin: 0; 
  font-size: 30px;  
  text-shadow: 0 10px 50px rgb(0, 0, 0);
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}



@media (max-width: 720px) {
  .body {
    flex-direction: column;
  }

  .tagLineContainer {
    flex: 0.5; 
  }

  .formContainer {
    flex: 2; 
    align-items: flex-start;
    padding: 0px;
  }

  .tagLine h1 {
    font-size: 50px; 
  }

  .tagLine h6 {
    font-size: 10px;  
  }
}

@media (min-width: 721px) and (max-width: 1105px) {
  .body {
    flex-direction: column;
  }

  .tagLineContainer {
    flex: 1;
  }

  .formContainer {
    flex: 2;
    align-items: flex-start;
    padding: 0px;
  }

  .tagLine h1 {
    font-size: 80px; 
  }

  .tagLine h6 {
    font-size: 30px;  
  }
}

@media (min-width: 1104px) and (max-width: 1300px) {
  .body {
    flex-direction: row;
  }

  .tagLineContainer {
    flex: 1;
  }

  .formContainer {
    flex: 1;
  }

  .tagLine h1 {
    font-size: 80px; 
  }

  .tagLine h6 {
    font-size: 30px;  
  }
}